<p id="notice"><%= notice %></p>

<h1>Listing Clubs</h1>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Desc</th>
        <th>Date</th>
        <th>From time</th>
        <th>To time</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @clubs.each do |club| %>
        <tr>
          <td><%= club.title %></td>
          <td><%= club.desc %></td>
          <td><%= basic_date_only club.date %></td>
          <td><%= basic_time_only club.from_time %></td>
          <td><%= basic_time_only club.to_time %></td>
          <td><%= link_to 'Show', club %></td>
          <td><%= link_to 'Edit', edit_club_path(club) %></td>
          <td><%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Club', new_club_path %>

<br><br>
<div>
    <div class="calendar"></div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.calendar').fullCalendar({
    });
  })
</script>