<%= render partial: 'announcements/header/header'%>
<section class="content">
  <div class="box box-warning">
    <div class="box-header with-border">
      <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4 dataTables_filter">
          <% if user_is_president %>
            <%= link_to new_announcement_path, class: 'btn btn-primary' do %>
              <i class="fa fa-plus"></i>
              <span>New Announcement</span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="box-body">
      <table class="table table-bordered">
        <tr>
          <th>Title</th>
          <th></th>
        </tr>

        <% @announcements.each do |announcement| %>
          <tr>
            <td><%= announcement.title %> <%= '<small class="label bg-green">unread</small>'.html_safe if (@unread_announcement_ids).include?(announcement.id)%></td>

            <td>
              <%= link_to announcement, class: 'btn bg-yellow btn-xs', placeholder: 'Show' do %>
                <i class="fa fa-eye"></i>
              <% end %>
              <% if user_is_president %>
                <%= link_to edit_announcement_path(announcement), class: 'btn bg-primary btn-xs', placeholder: 'Edit' do %>
                  <i class="fa fa-pencil"></i>
                <% end %>
                <%= link_to announcement, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn bg-red btn-xs' do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</section>
