<%= render partial: 'announcements/header/header'%>

<section class="content">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title"> Announcement Information</h3>

      <div class="box-tools">
      </div>
    </div>

    <div class="box-body">
      <table class="table">
        <tr>
          <td>Posted On:</td>
          <td><%= convert_time_to_basic(@announcement.created_at) %></td>
        </tr>

        <tr>
          <td>Title:</td>
          <td><%= @announcement.title %></td>
        </tr>

        <tr>
          <td>Desc:</td>
          <td><%= @announcement.desc %></td>
        </tr>
      </table>
    </div>

    <div class="box-footer">
      <%= link_to 'Back', announcements_path, class: 'btn btn-success' %>
    </div>

  </div>
</section>