<div class="box box-warning">
  <div class="box-body">
    <strong>Total <%= @receipts.count %> conversation(s)</strong>
    <div class="pull-right">
      <% if @active == 'inbox'%>
        <%= link_to  trash_conversation_path(params[:id]), method: 'POST', class: "btn btn-default btn-sm", data: {toggle: "tooltip", container: "body", original: {title: "Delete"}} do %>
          <i class="fa fa-trash-o"></i>
          Delete This Mail
        <% end %>
      <% elsif @active == 'trash' %>
        <%= link_to  untrash_conversation_path(params[:id]), method: 'POST', class: "btn btn-default btn-sm", data: {toggle: "tooltip", container: "body", original: {title: "Delete"}} do %>
          Move To Inbox
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<% @receipts.each do |receipt| %>
  <% message = receipt.message %> 
  <div class="box box-warning">
    <div class="box-header with-border">
      <h3 class="box-title"><%= message.sender.name %></h3>
      <% if params[:active_page] == 'sent' %>
        
      <% end %>
      <span class="mailbox-read-time"><%=  message.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></span>
    </div>
    <div class="box-body">
      <div class="mailbox-read-info">
        <h3><%= message.subject %></h3>
      </div>
      <div class="mailbox-read-message">
        <%= message.body.html_safe %>
      </div>
    </div>
  </div>
<% end %>
