<%= simple_form_for @complaint, validate: true do |f| %>
  <div class="box-body">
    <%= f.error_notification %>

      <%= f.input :title %>
      <%= f.input :desc %>
      <%= f.input :random, as: :boolean, hint: 'Check random will hide your name from complaint' %>
      <%= f.input :view_publically, as: :boolean, inline_label: 'View To Public',hint: 'Check it, If you want your complaint to see by everybody in society' %>
  </div>
  <div class="box-footer">
    <%= f.button :submit %>
  </div>
<% end %>
