<li class="">
  <i class="fa fa-pencil bg-purple"></i>
  <div class="timeline-item">
    <span class="time"><i class="fa fa-clock-o"></i> <%= relative_time(a.created_at) %></span>
    <h3 class="timeline-header"><strong> <%= activity.owner ? activity.owner.name : 'Guest' %></strong>
      <% if a.trackable %>
        update a policy <%= link_to truncate_text(a.trackable.name), policy_path(a.trackable.id) %>
      <% else %>
        update a policy that is currently deleted.
      <% end %>
    </h3>
    <% if a.trackable %>
      <div class="timeline-body">
          <%= truncate_text(a.trackable.body, 600) %>
      </div>
      <div class="timeline-footer">
        <%= link_to "Read more", policy_path(a.trackable.id), class: "btn bg-purple btn-xs" %>
      </div>
    <% end %>
  </div>
</li>
