<%= simple_form_for @job, validate: true do |f| %>
  <div class="box-body">
    <%= f.error_notification %>
    <%= f.input :title %>
    <%= f.input :desc, as: :ckeditor %>
    <%= f.file_field :files, multiple: true %>
  </div>

  <div class="box-footer">
    <%= f.button :submit %>
  </div>
<% end %>
