<div class="row">
  <div class="col-md-12">
    <div class="box box-warning">
      <div class="box-header with-border">
        <div class="col-sm-4">
           <%= page_entries_info jobs %>
        </div>
        <div class="col-sm-6"></div>
        <div class="col-sm-2">
          <div class="dataTables_filter">
            <%= link_to 'New Job', new_job_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th>Title</th>
            <th>Posted On</th>
            <th></th>
          </tr>

          <% jobs.each do |job| %>
            <tr>
              <td><%= truncate_text(job.title) %></td>
              <td><%= formatted_time(job.created_at) %></td>
              <td><%= link_to job, class: 'btn bg-yellow btn-xs', placeholder: 'Show' do %>
                  <i class="fa fa-eye"></i>
                <% end %>
                <% if job.user_id == current_user.id %>
                  <%= link_to edit_job_path(job), class: 'btn bg-primary btn-xs', placeholder: 'Edit' do %>
                    <i class="fa fa-pencil"></i>
                  <% end %>
                  <%= link_to job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn bg-red btn-xs' do %>
                      <i class="fa fa-trash"></i>
                    <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>

      <div class="box-footer">
        <%= will_paginate jobs, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>
