<%= render partial: 'jobs/header/header'%>


<section class="content">
  <div class="box box-warning">
    <div class="box-header with-border">
      <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4 dataTables_filter">
          <% if user_is_president %>
            <%= link_to 'New Job', new_job_path, class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="box-body">
      <table class="table table-bordered">
        <tr>
          <th>Title</th>
          <th></th>
        </tr>

        <% @jobs.each do |job| %>
          <tr>
            <td><%= truncate_text(job.title) %></td>
            <td><%= link_to job, class: 'btn bg-yellow btn-xs', placeholder: 'Show' do %>
                <i class="fa fa-eye"></i>
              <% end %>
              <% if job.user_id == current_user.id %>
                <%= link_to edit_job_path(job), class: 'btn bg-primary btn-xs', placeholder: 'Edit' do %>
                  <i class="fa fa-pencil"></i>
                <% end %>
                <%= link_to job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn bg-red btn-xs' do %>
                    <i class="fa fa-trash"></i>
                  <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</section>
