<div class="col">
  <ul class="nav nav-pills">
    <li class="active"><a href="javascript:void(0);">Jobs</a></li>
    <li><%= link_to 'Suggestions', suggestions_path %></li>
  </ul>
</div>

<br>

<h1>Listing Jobs</h1>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Desc</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td><%= job.title %></td>
          <td><%= job.desc %></td>
          <td><%= link_to 'Show', job %></td>
          <td><%= link_to 'Edit', edit_job_path(job) %></td>
          <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Job', new_job_path %>
