<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @job.desc.html_safe %>
</p>

<%unless @job.files.blank? %>
  <p>
  <% @job.files.each do |file| %>
    <%= link_to File.basename(file.path), file.url %>
  <% end %>
  </p>
<%end%>

<%= link_to 'Edit', edit_job_path(@job) if @job.user_id == current_user.id %>
<%= link_to 'Back', jobs_path %>


<br>

<%= commontator_thread(@job) %>
