<%= simple_form_for(@banner) do |f| %>
  <div class="box-body">
    <%= f.error_notification %>
    <div>
      <img class="desktop_image_preview" class="img-responsive"  />
    </div>
    <%= f.input :desktop_image %>
    <div>
      <img class="mobile_image_preview" class="img-responsive"/>
    </div>
    <%= f.input :area, collection: Banner.areas,  include_blank: false, label: 'Set Area?' %>
    <%#= f.input :mobile_image %>
    <%#= f.input :mobile_key %>
    <%= f.input :desktop_url %>
    <%#= f.input :desktop_size %>
    <%#= f.input :mobile_size %>
  </div>

  <div class="box-footer">
    <%= f.button :submit %>
  </div>
<% end %>
