<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar sidebar-dashbaord">

    <li class="<%= params[:controller] == 'dashboard' ? 'active' : '' %>">
      <%= link_to 'Home', root_url %> 
    </li>
 
    <li class="<%= params[:controller] == 'members' ? 'active' : '' %>">
      <%= link_to 'User', members_path %>
    </li>

    <li class="<%= params[:controller].include? ['complaints', 'feedbacks'] ? 'active' : '' %>">
      <span><%= link_to 'Complaints/Suggestions', complaints_path %>

      <% if user_is_president %>
        (<%= Complaint.unread_by(current_user).public_comaplaints.count %>)</span>
      <% else %>
        (<%= Complaint.unread_by(current_user).public_comaplaints.count %>)</span>
      <% end %>

    </li>

    <li class="<%= params[:controller].include? ['complaints', 'feedbacks'] ? 'active' : '' %>">
      <span>
        <%= link_to 'Announcements', announcements_path %>
        (<%= Announcement.unread_by(current_user).count %>)
      </span>
    </li>

    <li class="<%= params[:controller].include? ['complaints', 'feedbacks'] ? 'active' : '' %>">
      <span>
        <%= link_to 'Policies', policies_path %>
        (<%= Policy.unread_by(current_user).count %>)
      </span>
    </li>

    <% if user_is_president %>
      <li class="<%= params[:controller] == 'banners' ? 'active' : '' %>">
        <span>
          <%= link_to 'Banners', banners_path %>
        </span>
      </li>
    <% end %>

  </ul>
</div>
