<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar sidebar-dashbaord">

    <li class="<%= params[:controller] == 'dashboard' ? 'active' : '' %>">
      <%= link_to 'Home', root_url %> 
    </li>
 
    <li class="<%= params[:controller] == 'members' ? 'active' : '' %>">
      <%= link_to 'User', members_path %>
    </li>

    <li class="<%= params[:controller].include? ['complaints', 'feedbacks'] ? 'active' : '' %>">
      <span><%= link_to 'Complaints/Suggestions', complaints_path %>

      <% if user_is_president %>
        (<%= Complaint.unread_by(current_user).public_comaplaints.count %>)</span>
      <% else %>
        (<%= Complaint.unread_by(current_user).public_comaplaints.count %>)</span>
      <% end %>

    </li>

    <li class="<%= params[:controller].include? ['complaints', 'feedbacks'] ? 'active' : '' %>">
      <span>
        <%= link_to 'Announcements', announcements_path %>
        (<%= Announcement.unread_by(current_user).count %>)
      </span>
    </li>

    <li class="<%= params[:controller].include? ['complaints', 'feedbacks'] ? 'active' : '' %>">
      <span>
        <%= link_to 'Policies', policies_path %>
        (<%= Policy.unread_by(current_user).count %>)
      </span>
    </li>

    <% if user_is_president %>
      <li class="<%= params[:controller] == 'banners' ? 'active' : '' %>">
        <span>
          <%= link_to 'Banners', banners_path %>
        </span>
      </li>
    <% end %>

    <% if current_tenant.user_setting.send(:voting_visible) %>
      <li class="<%= params[:controller] == 'banners' ? 'active' : '' %>">
        <span>
          <%= link_to 'Voting', votes_index_path %>
        </span>
      </li>
    <% end %>

    <li class="<%= params[:controller] == 'banners' ? 'active' : '' %>">
      <span>
        <%= link_to 'Voting Details', votes_detail_path %>
      </span>
    </li>

    <li class="<%= params[:controller] == 'banners' ? 'active' : '' %>">
      <span>
        <%= link_to 'Funds', funds_path %>
      </span>
    </li>

    <li class="<%= params[:controller] == 'banners' ? 'active' : '' %>">
      <span>
        <%= link_to 'Jobs/Suggestions', jobs_path %>
      </span>
    </li>

    <li class="<%= params[:controller] == 'banners' ? 'active' : '' %>">
      <span>
        <%= link_to 'Buy/Sell', products_path %>
      </span>
    </li>

    <li class="<%= params[:controller] == 'banners' ? 'active' : '' %>">
      <span>
        <%= link_to 'Carpool', carpools_path %>
      </span>
    </li>

    <li class="<%= params[:controller] == 'banners' ? 'active' : '' %>">
      <span>
        <%= link_to 'Rent & Sale', rents_path %>
      </span>
    </li>

  </ul>
</div>
