<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar sidebar-dashbaord">

    <li class="<%= params[:controller] == 'dashboard' ? 'active' : '' %>">
      <%= link_to 'Home', root_url %> <span class="sr-only">(current)</span></a>
    </li>
 
    <li class="<%= params[:controller] == 'members' ? 'active' : '' %>">
      <%= link_to 'User', members_path %>
    </li>

    <li class="<%= params[:controller].include? ['complaints', 'feedbacks'] ? 'active' : '' %>">
      <%= link_to 'Complaints/Suggestions', complaints_path %>
      <a href="#"></a>
    </li> 
    
    <li><a href="#">Export</a></li>

  </ul>
</div>
