
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" style="height: auto;">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="<%= current_user.avatar.url %>" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p><%= member_name %></p>
        <a href=""><i class="fa fa-circle text-success"></i> Online</a>
        <a href="#" id='online'></a>
      </div>
    </div>

    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>

      <li class="<%= ['dashboard'].include?(params[:controller]) ? 'active' : ''%>">
        <a href="/">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>

      <li class="treeview <%= ['members'].include?(params[:controller]) ? 'active' : ''%>" >
        <a href="#">
          <i class="fa fa-users"></i>
          <span>Members</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
            <!-- <span class="label label-primary pull-right">4</span> -->
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/members/<%=current_user.id%>/user_profile"><i class="fa fa-circle-o"></i> You</a></li>
          <!-- <li><a href="/members/new"><i class="fa fa-circle-o"></i> Create New Member</a></li> -->
          <li><a href="/members"><i class="fa fa-circle-o"></i> All Members</a></li>
        </ul>
      </li>

      <li class="treeview <%= ['complaints', 'public_complaints'].include?(params[:controller]) ? 'active' : ''%>">
        <a href="">
          <i class="fa fa-hand-o-up"></i> <span>Complaints</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
            <!-- <small class="label pull-right bg-green">new</small> -->
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/complaints"><i class="fa fa-circle-o"></i> Complaints</a></li>
          <li><a href="/public_complaints"><i class="fa fa-circle-o"></i> Public Complaints</a></li>
        </ul>
      </li>

      <li class="<%= ['announcements'].include?(params[:controller]) ? 'active' : ''%>">
        <a href="/announcements">
          <i class="fa  fa-bullhorn"></i>
          <span>Announcements</span>
          <span class="pull-right-container">
          </span>
        </a>
      </li>

      <li class="<%= ['policies'].include?(params[:controller]) ? 'active' : ''%>">
        <a href="/policies">
          <i class="fa fa-newspaper-o"></i>
          <span>Policies</span>
        </a>
      </li>

      <% if user_is_president %>
        <li class="<%= ['banners'].include?(params[:controller]) ? 'active' : ''%>">
          <a href="/banners">
            <i class="fa fa-th"></i>
            <span>Banners</span>
          </a>
        </li>
      <% end %>

      <li class="treeview <%= ['elections'].include?(params[:controller]) ? 'active' : ''%>">
        <a href="/elections">
          <i class="fa  fa-check-square-o"></i>
          <span>Election</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
            <% if current_tenant && current_tenant.user_setting && current_tenant.user_setting.send(:voting_visible) %>
              <small class="label pull-right bg-green">Voting Start</small>
            <% end %>
          </span>
        </a>
        <ul class="treeview-menu menu-open">
          <li>
              <a href="/elections">
                <i class="fa fa-circle-o"></i>
                <span>All Elections</span>
              </a>
            </li>
          <% if current_tenant && current_tenant.user_setting && current_tenant.user_setting.send(:voting_visible) %>
            <li>
              <a href="/votes/index">
                <i class="fa fa-circle-o"></i>
                <span>Vote Member</span>
                <span class="pull-right-container">
                  <small class="label pull-right bg-green">new</small>
                </span>
              </a>
            </li>
          <% end %>

          <% if Election.new_or_recent_election %>
            <li>
              <a href="/votes/detail">
                <i class="fa fa-circle-o"></i>
                <span>Voting Details</span>
              </a>
            </li>
          <% end %>
        </ul>
      </li>

      <li class="treeview <%= ['funds', 'charges'].include?(params[:controller]) ? 'active' : ''%>">
        <a href="">
          <i class="fa  fa-money"></i> <span>Balances</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/funds"><i class="fa fa-circle-o"></i>Funds</a></li>
        </ul>
      </li>

      <li class="<%= ['jobs'].include?(params[:controller]) ? 'active' : ''%>">
        <a href="/jobs">
          <i class="fa  fa-heart"></i>
          <span>Jobs</span>
        </a>
      </li>

      <li class="<%= ['suggestions'].include?(params[:controller]) ? 'active' : ''%>">
        <a href="/suggestions">
          <i class="fa fa-sun-o"></i>
          <span>Suggestions</span>
        </a>
      </li>

      <li class="<%= ['products'].include?(params[:controller]) ? 'active' : ''%>">
        <a href="/products">
          <i class="fa fa-columns"></i>
          <span>Buy & Sell Products</span>
        </a>
      </li>

      <li class="<%= ['carpools'].include?(params[:controller]) ? 'active' : ''%>">
        <a href="/carpools">
          <i class="fa fa-car"></i>
          <span>Carpool</span>
        </a>
      </li>

      <li class="<%= ['rents'].include?(params[:controller]) ? 'active' : ''%>">
        <a href="/rents">
          <i class="fa fa-home"></i>
          <span>Rent & Sale</span>
        </a>
      </li>
      <li class="<%= ['mailbox', 'conversations'].include?(params[:controller]) ? 'active' : ''%>">
        <a href="/mailbox/inbox">
          <i class="fa fa-inbox"></i>
          <span>Inbox</span>
        </a>
      </li>

      <li class="<%= ['clubs'].include?(params[:controller]) ? 'active' : ''%>">
        <a href="/clubs">
          <i class="fa fa-calendar"></i> <span>Calendar</span>
          <span class="pull-right-container">
<!--             <small class="label pull-right bg-red">3</small>
            <small class="label pull-right bg-blue">17</small> -->
          </span>
        </a>
      </li>

      <li class="header">LABELS</li>
      <li><%= link_to labours_members_path do%>
            <i class="fa fa-circle-o text-red"></i> <span>Labours</span><% end %></li>
<!--       <li><a href=""><i class="fa fa-circle-o text-yellow"></i> <span>Emergency Contacts</span></a></li>
      <li><a href=""><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li> -->
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>