<div class="row">
  <div class="col-md-12">
    <div class="box box-warning">
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th>Name</th>
            <th>Number</th>
            <th colspan="3"></th>
          </tr>
          <% @epu.each do |epu| %>
            <tr>
              <td><%= epu.user.name %></td>
              <td><%= epu.user.mob_num %></td>
              <td>
                <span id="mark-as-pres-<%=epu.user.id%>">
                  <%= render partial: 'members/partials/select_candidate', locals: { member: epu.user} %>
                </span>
              </td>
                <td>
                  <span id="vote-pre=#{epu.user.id} voter-pre">
                    <%= render partial: 'votes/partials/vote', locals: { member: epu.user} %>
                  </span>
                </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>