<p id="notice"><%= notice %></p>

<h1>Listing Elections</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Years</th>
        <th>Winner</th>
        <th>Total Votes</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @elections.each do |election| %>
        <tr>
          <td><%= election.years_range %></td>
          <td><%= link_to User.find(election.win_user).name || User.find(election.win_user).email, member_path(election.win_user) if election.win_user%></td>
          <td><%= election.win_by %></td>
          <td><%= link_to 'Show', election_path(election) if user_is_president %></td>
          <td> <%= link_to 'Destroy', election_path(election), method: :delete, data: { confirm: 'Are you sure?' } if user_is_president %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Election', new_election_path %>
