<%= render partial: 'elections/header/header'%>

<section class="content">
  <div class="box box-warning">
    <div class="box-header with-border">
      <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4 dataTables_filter">
          <%= link_to 'Start Election', new_election_path, class: 'btn btn-primary' if user_is_president %>
        </div>
      </div>
    </div>
    <div class="box-body">
      <table class="table table-bordered">
        <tr>
          <th>Years</th>
          <th>Winner</th>
          <th>Total Votes</th>
          <th></th>
        </tr>
        <% @elections.each do |election| %>
          <% cache election do %>
            <tr>
              <td><%= election.years_range %></td>
              <td><%= link_to User.find(election.win_user).name || User.find(election.win_user).email, member_path(election.win_user) if election.win_user%></td>
              <td><%= election.win_by %></td>
              <td>
                <% if user_is_president %>
                  <%= link_to election_path(election), class: 'btn bg-yellow btn-xs', placeholder: 'Show' do %>
                    <i class="fa fa-eye"></i>
                  <% end %>
                  <%= link_to election_path(election), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn bg-red btn-xs' do %>
                    <i class="fa fa-trash"></i>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
  <%= render partial: 'shared/advertisement'%>
</section>

