<p>
  <strong>Years range:</strong>
  <%= @election.years_range %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @election.win_user %>
</p>

<%= link_to 'Edit', edit_election_path(@election) %> |
<%= link_to 'Back', elections_path %>


<br>
<%unless @epu.blank?%>
  <h2>Selected Members</h2>
  <%= render 'elections/index'%>
<%end%>

<% unless @election.win_user %>
  <h2>All Users</h2>
  <%= render 'members/index' %>
<%end%>
