<%= simple_form_for(@carpool) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :from %>
    <%= f.input :to %>
    <%= f.input :desc %>
    <%= f.input :date, start_year: Date.today.year,
                              end_year: Date.today.year + 1,
                              order: [:day, :month, :year] %>
    <%= f.association :tag_list do %>
    <%= f.input :tag_list, { multiple: true, style: "width:100%;", label: 'Pick Up Route'} %>
    <em>Please enter comma sperated routes if you want pick up eg. Going from Delhi to Patiala</em>
    <em>Pick Up Routes sonipat, panipat, ambala</em>

    <%= f.input :amount %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

