<div class="row">
  <div class="col-md-12">
    <div class="box box-warning">
      <div class="box-header with-border">
        <div class="col-sm-4">
           <%= page_entries_info carpools %>
        </div>
        <div class="col-sm-6"></div>
        <div class="col-sm-2">
          <div class="dataTables_filter">
            <%= link_to 'New Carpool', new_carpool_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th>Ride</th>
            <th>Date</th>
            <th>Amount</th>
            <th style="width: 100px;"></th>
          </tr>

          <% carpools.each do |carpool| %>
            <% cache carpool do %>
              <tr>
                <td><%= carpool.from %> - <%= carpool.to %></td>
                <td><%= convert_time_to_basic carpool.date %></td>
                <td><%= carpool.amount %></td>
                <td style="width: 100px;">
                  <%= link_to carpool, class: 'btn bg-yellow btn-xs', placeholder: 'Show' do %>
                    <i class="fa fa-eye"></i>
                  <% end %>
                  <%if current_user.id == carpool.user_id%>
                    <%= link_to edit_carpool_path(carpool), class: 'btn bg-primary btn-xs', placeholder: 'Edit' do %>
                      <i class="fa fa-pencil"></i>
                    <% end %>
                    <%= link_to carpool, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn bg-red btn-xs' do  %>
                      <i class="fa fa-trash"></i>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
      <div class="box-footer">
        <%= will_paginate carpools, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>
