<div class="well well-small">
  <%= form_for_filterrific @filterrific do |f| %>
    <div>
      From:
      <%= f.text_field(:search_query_from, class: 'filterrific-periodically-observed') %>
      To:
      <%= f.text_field(:search_query_to, class: 'filterrific-periodically-observed') %>
      Via: 
      <%= f.text_field(:via, class: 'filterrific-periodically-observed') %>
      Date On:
      <%= f.text_field(:date_on, class: 'js-datepicker') %>
    </div>
    <%= link_to('Reset filters', reset_filterrific_url) %>
    <%= render_filterrific_spinner %>
  <% end %>

</div>

<div id="filterrific_results"><%= render partial: 'carpools/index', locals: { carpools: @carpools } %></div>

<br>
