<p id="notice"><%= notice %></p>

<h1>Listing Carpools</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Desc</th>
        <th>User</th>
        <th>Date</th>
        <th>Routes</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @carpools.each do |carpool| %>
        <tr>
          <td><%= carpool.title %></td>
          <td><%= carpool.desc %></td>
          <td><%= carpool.user_id %></td>
          <td><%= carpool.date %></td>
          <td><%= carpool.tag_list %></td>
          <td><%= link_to 'Show', carpool %></td>
          <td><%= link_to 'Edit', edit_carpool_path(carpool) %></td>
          <td><%= link_to 'Destroy', carpool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Carpool', new_carpool_path %>
