<%= render partial: 'carpools/header/header'%>

<section class="content">
  <div class="box box-warning">
    <div class="box-header with-border">
      <h3 class="box-title">Search</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
    </div>

    <div class="box-body">
      <div class="row">
        <div class="tab-content">
          <%= form_for_filterrific @filterrific do |f| %>
            <div class="col-xs-3">
              <label>From:</label>
              <%= f.text_field(:search_query_from, class: 'filterrific-periodically-observed form-control') %>
            </div>
            <div class="col-xs-3">
              <label>To:</label>
              <%= f.text_field(:search_query_to, class: 'filterrific-periodically-observed form-control') %>
            </div>
            <div class="col-xs-3">
              <label>Via:</label>
              <%= f.text_field(:via, class: 'filterrific-periodically-observed form-control') %>
            </div>

            <div class="col-xs-3">
              <label>Date On:</label>
              <div class="input-group date">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <%= f.text_field(:date_on, class: 'js-datepicker form-control' ) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="box-footer">
      <%= link_to('Reset filters', reset_filterrific_url, class: 'btn btn-info') %>
      <%= render_filterrific_spinner %>
    </div>
  </div>


  <div id="filterrific_results"><%= render partial: 'carpools/index', locals: { carpools: @carpools } %>
  </div>

</section>
