<div class="box box-warning">
  <div class="box-header with-border">
    <div class="row">
      <div class="col-sm-8">
        <span>Total Spent:</span> <span><%= number_with_delimiter(Fund.total_spent, delimiter: ',') %></span> | 
        <span>Spent This Year:</span> <span><%= number_with_delimiter(Fund.yearly_spent(Time.now.year), delimiter: ',') %></span>
      </div>
      <div class="col-sm-4 dataTables_filter">
        <% if user_is_president %>
          <%= link_to 'New Funds', new_fund_path, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-bordered">
      <tr>
        <th>Title</th>
        <th>Desc</th>
        <th>Amount</th>
        <th>Date</th>
        <th colspan="3"></th>
      </tr>

      <% funds.each do |fund| %>
        <tr>
          <td><%= truncate_text(fund.title, 20) %></td>
          <td><%= truncate_text(fund.desc, 50) %></td>
          <td><%= number_with_delimiter(fund.amount, delimiter: ',') %></td>
          <td><%= basic_date_only fund.date %></td>
          <td><%= link_to 'Show', fund %></td>
          <td><%= link_to 'Edit', edit_fund_path(fund) if user_is_president %></td>
          <td><%= link_to 'Destroy', fund, method: :delete, data: { confirm: 'Are you sure?' } if user_is_president %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="box-footer">
    <div class="dataTables_filter">
      <b>Amount: <%= funds.map(&:amount).sum%></b>
    </div>
  </div>
</div>
