<div class="row">
  <div class="col-md-12">
    <div class="box box-warning">
      <div class="box-header with-border">
        <div class="col-sm-4">
           <%= page_entries_info complaints %>
        </div>
        <div class="col-sm-6"></div>
        <div class="col-sm-2">
          <div class="dataTables_filter">
            <%= link_to 'New Complaint', new_complaint_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="box-body">
        <table class="table table-bordered">
            <tr>
              <th>Title</th>
              <th>Posted On</th>
              <th>Status</th>
              <th></th>
            </tr>
            <% cache [current_user.id, complaints] do %>
              <% complaints.each do |complaint| %>
                <tr>
                  <td><%= truncate_text(complaint.title, 30) %><span class="new-tag"><%= "   New" if (@unread_complain_ids).include?(complaint.id)%></span></td>
                  <td><%= basic_date_only(complaint.updated_at) %></td>
                  <td><%= complaint.status %></td>
                  <td>
                    <%= link_to complaint, class: 'btn bg-yellow btn-xs', placeholder: 'Show' do %>
                      <i class="fa fa-eye"></i>
                    <% end %>
                    <% if current_user.id == complaint.user_id %>
                      <%= link_to edit_complaint_path(complaint), class: 'btn bg-primary btn-xs', placeholder: 'Edit' do %>
                        <i class="fa fa-pencil"></i>
                      <% end %>
                      <%= link_to complaint, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn bg-red btn-xs' do %>
                        <i class="fa fa-trash"></i>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
