<div class="pull-right">
  <%= link_to('Mark All Read', mark_all_read_complaints_path, class: 'btn btn-primary', data: { remote: true } ) %>
</div>

<div class="col">
  <ul class="nav nav-pills">
    <li><%= link_to 'Complaints', complaints_path %></li>
    <li class="active"><%= link_to 'Public Complaints', public_complaints_path %></li>
  </ul>
</div>

<br>

<div class="pull-right">
  <%= link_to 'New Complaint', new_complaint_path, class: 'btn btn-primary' %>
</div>

<div class="well well-small">
  <%= form_for_filterrific @filterrific do |f| %>
    <div>
      Search:
      <%= f.text_field(:search_query, class: 'filterrific-periodically-observed') %>
      Registered after:
      <%= f.text_field(:with_created_at_gte, class: 'js-datepicker') %>
    </div>
    <%= link_to('Reset filters', reset_filterrific_url) %>
    <%= render_filterrific_spinner %>
  <% end %>
</div>

<h1>Listing Complaints</h1>
<div id="filterrific_results">
  <%= render partial: 'public_complaints/list', locals: { complaints: @complaints } %>
</div>

<br>

<%= link_to 'New Complaint', new_complaint_path %>
