<%= simple_form_for @trust, validate: true do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :desc %>
    <%= f.input :to_date %>
    <%= f.input :amount %>
  </div>

  Invite User for Funds To Submit
  

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
