<div class="col">
  <ul class="nav nav-pills">
    <li><%= link_to 'Balance', funds_path %></li>
    <li class="active"><%= link_to 'Funds', trusts_path %></li>
    <li><%= link_to 'Charges', charges_path %></li>
  </ul>
</div>

<br>

<h1>Listing Trusts</h1>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>title</th>
        <th>Desc</th>
        <th>To date</th>
        <th>Amount</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @trusts.each do |trust| %>
        <tr>
          <td><%= trust.title %></td>
          <td><%= trust.desc %></td>
          <td><%= trust.to_date %></td>
          <td><%= trust.amount %></td>
          <td><%= link_to 'Show', trust %></td>
          <td><%= link_to 'Edit', edit_trust_path(trust) %></td>
          <td><%= link_to 'Destroy', trust, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Trust', new_trust_path %>
