<p id="notice"><%= notice %></p>

<h1>Listing Elections Participated Users</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Electon</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @elections_participated_users.each do |elections_participated_user| %>
      <% cache elections_participated_user do %>
        <tr>
          <td><%= elections_participated_user.user_id %></td>
          <td><%= elections_participated_user.electon_id %></td>
          <td>
            <%= link_to elections_participated_user, class: 'btn bg-yellow btn-xs', placeholder: 'Show' do %>
              <i class="fa fa-eye"></i>
            <% end %>
            <%= link_to edit_elections_participated_user_path(elections_participated_user), class: 'btn bg-primary btn-xs', placeholder: 'Edit' do %>
              <i class="fa fa-pencil"></i>
            <% end %>
            <%= link_to elections_participated_user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn bg-red btn-xs' do %>
              <i class="fa fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Elections participated user', new_elections_participated_user_path %>
