<%= simple_form_for @post, remote: true, authenticity_token: true, html: { multipart: true } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content, label: false, placeholder: "What's in your mind?" %>
    <%= f.input :attachments, as: :file, input_html: { multiple: true, id: 'files' }, label: false %>
    <output id="result" />
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
