<div class="post-feed clearfix box-widget">
  <div class="row">
    <div class="col-md-12">
      <!-- Box Comment -->
      <div class="box">
        <div class="box-header with-border">
          <div class="user-block">
            <%# byebug %>
            <img class="img-circle" src="<%= post.user.avatar.url %>" alt="User Image">
            <span class="username"><a href="#"><%= post.user.name %></a></span>
            <span class="description">Shared publicly - <%= relative_time(post.created_at) %> ago</span> <span class="description"><%= formatted_time(post.created_at) %></span>
          </div>
          <!-- /.user-block -->
          <div class="box-tools">
            <% if post.user_id == current_user.id || user_is_president %>
              <a class="btn btn-box-tool" data-toggle="remove" data-remote="true" title="Delete Post" href="/posts/<%= post.id%>" data-method="delete" data-widget="remove">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            </button>
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <% if post.attachment.url %>
            <img class="img-responsive pad" src="<%= post.attachment.url %>" alt="Photo">
          <% end %>

          <p><%= post.content %></p>
          <!-- <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button> -->
          <!-- <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button> -->
          <div>
            <span class="pull-right text-muted">
              <span class="vote_count">
                <%= pluralize(post.get_likes.size,'like') %>
              </span>
            </span>

            <div class="votes">
              <% if current_user.liked? post %>
                <%= link_to unlike_post_path(post), method: :get, remote: true, class: 'unlike_post' do %>
                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Unlike</button>
                <% end %>
              <% else %>
                <%= link_to like_post_path(post), method: :get, remote: true, class: 'like_post' do %>
                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
                <% end %>
              <% end %>
            </div>
          </div>

        </div>
        <!-- /.box-body -->
        <div class="box-footer box-comments">
        <%= commontator_thread(post) %>
        </div>

      </div>
      <!-- /.box -->
    </div>
  </div>
</div>
