<%= simple_form_for(@fund) do |f| %>
  <div class="box-body">
    <%= f.error_notification %>
    <%= f.input :amount %>
    <%= f.input :title %>
    <%= f.input :desc %>
    <%= f.input :date %>
  </div>

  <div class="box-footer">
    <%= f.button :submit %>
  </div>
<% end %>
