<%= simple_form_for @product, html: { multipart: true }, validate: true do |f| %>
  <div class="box-body">
    <%= f.error_notification %>
    <%= f.input :name %>
    <%= f.input :desc %>
    <%= f.input :images, as: :file, input_html: { multiple: true, id: 'files' } %>
    <output id="result" />
    <%= f.input :amount %>
  </div>

  <div class="box-footer">
    <%= f.button :submit %>
  </div>
<% end %>
