<div class="">
Election: <%= Time.now.year%>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Number</th>
        <th>Occupation</th>
        <th>Email</th>
        <th>Votes</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |member, index| %>
        <tr>
          <td><%= index + 1  %></td>
          <td><%= member.name %></td>
          <td><%= member.mob_num %></td>
          <td><%= member.occupation %></td>
          <td><%= member.email %></td>
          <td><%= member.calculate_votes_size %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if @max_hash && @max_hash.length == 1 %>
  <div>
    <% @user.name %> < <%= @user.email%>> Winning!
  </div>
<% end %>

<% if @max_hash && @max_hash.length > 1 %>
  There is Tie between <%= @max_hash.length%> members. Result will be on lottary based system if tie continues.
<% end %>

<% if user_is_president && current_tenant.user_setting.voting_visible %>
  <div class="pull-right">
    <%= link_to 'Declare Result', votes_declare_path, remote: true, onclick: "$(this).text('Declared')" %>
  </div>
<% end %>
