<%= simple_form_for @suggestion, validate: true do |f| %>
  <div class="box-body">
    <%= f.error_notification %>
    <%= f.input :title %>
    <%= f.input :desc %>
  </div>

  <div class="box-footer">
    <%= f.button :submit %>
  </div>
<% end %>
