<div class="row">
  <div class="col-md-12">
    <div class="box box-warning">
      <div class="box-header with-border">
        <div class="col-sm-4">
           <%= page_entries_info suggestions %>
        </div>
        <div class="col-sm-6"></div>
        <div class="col-sm-2">
          <div class="dataTables_filter">
            <%= link_to 'New Suggestion', new_suggestion_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th>Title</th>
            <th></th>
          </tr>
          <% cache [current_user.id, suggestions] do %>
            <% suggestions.each do |suggestion| %>
              <tr>
                <td><%= truncate_text(suggestion.title) %></td>
                <td><%= link_to suggestion, class: 'btn bg-yellow btn-xs', placeholder: 'Show' do %>
                    <i class="fa fa-eye"></i>
                  <% end %>
                  <% if current_user.id ==  suggestion.user_id %>
                    <%= link_to edit_suggestion_path(suggestion), class: 'btn bg-primary btn-xs', placeholder: 'Edit' do %>
                      <i class="fa fa-pencil"></i>
                    <% end %>
                    <%= link_to suggestion, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn bg-red btn-xs' do %>
                      <i class="fa fa-trash"></i>
                    <% end %>
                  <% end %>
                  </td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>

      <div class="box-footer">
        <%= will_paginate suggestions, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>
