<%= simple_form_for(@charge) do |f| %>
  <div class="box-body">
    <%= f.error_notification %>
    <%= f.input :from_date, start_year: Date.today.year %>
    <%#= f.input :to_date %>
    <%= f.input :title %>
    <%= f.input :desc %>
    <%= f.input :period, collection: Charge.periods,  include_blank: false %>
    <%= f.input :amount %>
  </div>


  <div class="box-footer">
    <%= f.button :submit %>
  </div>
<% end %>
