<%= render partial: 'charges/header/header'%>

<section class="content">
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li><a href="/funds">Balance</a></li>
      <!-- <li><%#= link_to 'Funds', trusts_path %></li> -->
      <li class="active"><%= link_to 'Charges', charges_path %></li>
    </ul>
  </div>

  <div class="box box-warning">
    <div class="box-header with-border">
      <div class="pull-right">
        <%= link_to 'New Charge', new_charge_path, class: 'btn btn-primary' %>
      </div>
    </div>
    <div class="box-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>From date</th>
            <!-- <th>To date</th> -->
            <th>Period</th>
            <th>Amount</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @charges.each do |charge| %>
            <% cache charge do %>
              <%if user_is_president || @charge_ids.include?(charge.id) %>
                <tr>
                  <td><%= charge.from_date %></td>
                  <!-- <td><%#= charge.to_date %></td> -->
                  <td><%= charge.period %></td>
                  <td><%= charge.amount %></td>
                  <td>
                    <%= link_to 'Pay', charge, class: 'btn btn-xs btn-info' %>
                    <%= link_to charge, class: 'btn bg-yellow btn-xs', placeholder: 'Show' do %>
                      <i class="fa fa-eye"></i>
                    <% end %>
                    <% if user_is_president %>
                      <%= link_to edit_charge_path(charge), class: 'btn bg-primary btn-xs', placeholder: 'Edit' do %>
                        <i class="fa fa-pencil"></i>
                      <% end %>
                      <%= link_to charge, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn bg-red btn-xs' do %>
                        <i class="fa fa-trash"></i>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</section>