<!DOCTYPE html>
<html style="height: auto;">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'vendor' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'vendor' %>
  <%= action_cable_meta_tag %>
  <%= csrf_meta_tags %>
</head>
<body class="skin-blue sidebar-mini" style="height: auto;">

<div class="wrapper" style="height: auto;">

  <header class="main-header">

    <!-- Logo -->
    <a href="javascript:void(0);" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>A</b>LT</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Admin</b>LTE</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="javascript:void(0);" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success"><%= @mails.count %></span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have <%= @mails.count %> mails</li>
              <li>
                <ul class="menu">
                  <% @mails.each do |mail| %>
                    <li><!-- start message -->
                      <%= link_to conversation_path(mail.id, active_page: 'inbox') do%>
                        <div class="pull-left">
                          <img src="<%= mail.originator.avatar.url %>" class="img-circle" alt="User Image">
                        </div>
                        <h4>
                          <%= mail.originator.name%>
                          <small><i class="fa fa-clock-o"></i> <%= formatted_time(mail.created_at) %></small>
                        </h4>
                        <p><%= mail.subject %></p>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </li>
              <li class="footer"><a href="/mailbox/inbox">See All Messages</a></li>
            </ul>
          </li>
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning"><%= @activities.count %></span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have <%= @activities.count %> notifications</li>
              <li>
                  <ul class="menu">
                    <%= render_activities(@activities, navbar: true)  %>
                  </ul>
              </li>
              <li class="footer"><%= link_to user_profile_member_path(current_user.id) do%>View all<% end %></li>
            </ul>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
              <img src="<%= current_user.avatar.url %>" class="user-image" alt="User Image">
              <span class="hidden-xs"><%= current_user.name %></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="<%= current_user.avatar.url %>" class="img-circle" alt="User Image">

                <p>
                  <%= member_name_and_occupation %>
                  <small>Member since <%= joining_date %></small>
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <%= link_to 'Profile', user_profile_member_path(current_user), class: "btn btn-default btn-flat" %>
                </div>
                <div class="pull-right">
                  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-default btn-flat' %>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <%= render  partial: 'shared/sidebar' %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 946px;">
    <div id="spinner-cont" class="loading not-display"></div>
    <%= announce Announcement.newest  %>
    <%= flash_messages %>
    <%= yield %>
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.3.8
    </div>
    <strong>Copyright © 2014-2016 <a href="http://almsaeedstudio.com/">Almsaeed Studio</a>.</strong> All rights
    reserved.
  </footer>

</div>
</body>
</html>