<div class="row">
  <div class="col-md-12">
    <div class="box box-warning">

      <div class="box-header with-border">
        <h3 class="box-title">Search</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>

      <div class="box-body">
        <div class="row">
          <%= form_for_filterrific @filterrific do |f| %>
            <div class="col-xs-3">
              <label>All Search:</label>
              <%= f.text_field(:search_query, class: 'filterrific-periodically-observed form-control my-colorpicker1 colorpicker-element') %>
            </div>
            <div class="col-xs-3">
              <label>Flat no:</label>
              <%= f.text_field(:flat_no_search, class: 'filterrific-periodically-observed form-control my-colorpicker1 colorpicker-element') %>
            </div>

            <div class="col-xs-3">
              <label>Joined After:</label>
                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <%= f.text_field(:with_created_at_gte, class: 'js-datepicker form-control pull-right') %>
                </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="box-footer">
        <%= link_to('Reset filters', reset_filterrific_url, class: 'btn btn-info') %>
        <%= render_filterrific_spinner %>
      </div>

    </div>
  </div>
</div>

<div id="filterrific_results"><%= render partial: 'members/list', locals: { members: @members } %></div>