<div class="row">
  <div class="col-md-12">
    <div class="box box-warning">
      <div class="box-header with-border">
        <div class="col-sm-4">
           <%= page_entries_info members %>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <div class="dataTables_filter">
            <% if user_is_president %>
              <%= render partial: 'votes/partials/voting_visble' %>
              <%= link_to 'New Member', new_member_path, class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th style="width: 10px">#</th>
            <th><%= filterrific_sorting_link(@filterrific, :name) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :number) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :blood_group) %></th>
            <th>Role</th>
            <th></th>
          </tr>
          <% members.each_with_index do |member, index| %>
            <tr>
              <td><%= index + 1  %></td>
              <td><%= member.name %></td>
              <td><%= member.mob_num %></td>
              <td><%= member.blood_group %></td>
              <td><%= member.roles.collect{|m| m.name.camelize}.join(', ') %></td>
              <% if params[:controller] == 'charges' %>
                <% if @subscription_ids.include? [member.id, @charge.id]%>
                <td>Invited</td>
                <% else %>
                  <td><span id="<%= member.id.to_s%>_invite_<%=@charge.id.to_s%>"><%= link_to 'Invite', charges_invite_path(user_id: member.id, charge_id: @charge.id), remote: true %>
                <% end %>
              <% else %>
                <td><%= link_to member_path(member), class: 'btn bg-yellow btn-xs', placeholder: 'Show' do %>
                  <i class="fa fa-eye"></i>
                <% end %>
                <% if user_is_president && params[:controller] == 'members' %>
                  <%= link_to edit_member_path(member), class: 'btn bg-primary btn-xs', placeholder: 'Edit' do %>
                    <i class="fa fa-pencil"></i>
                  <% end %>
                  <%= link_to member_path(member), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn bg-red btn-xs' do %>
                    <i class="fa fa-trash"></i>
                  <% end %>
                <% end %>
              <% end %>

              <!-- For Election -->
                <% if user_is_president && params[:controller] == 'elections' %>
                 <div id="mark-as-pres-<%=member.id%>" class="pull-right">
                    <%= render partial: 'members/partials/select_candidate', locals: { member: member} %>
                  </div>
                <% end %>
                </td>
            </tr>
          <% end %>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer clearfix">
        <%= will_paginate members, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>