<section class="content-header">
  <h1>
    <%= @member.name %>
    <small><%= @member.occupation %></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Members</li>
  </ol>
</section>

<section class="content">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title"> Member Information</h3>

      <div class="box-tools">
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <table class="table">
        <tbody>
          <tr>
            <td>Name:</td>
            <td><%= @member.name %></td>
          </tr>
          <tr>
            <td>Flat no:</td>
            <td><%= @member.flat_no %></td>
          </tr>
          <tr>
            <td>Tower no:</td>
            <td><%= @member.tower_no %></td>
          </tr>
          <tr>
            <td>Mob num:</td>
            <td><%= @member.mob_num %></td>
          </tr>
          <tr>
            <td>Email:</td>
            <td><%= @member.email %></td>
          </tr>
          <tr>
            <td>Alt no:</td>
            <td><%= @member.alt_no %></td>
          </tr>
          <tr>
            <td>Blood group:</td>
            <td><%= @member.blood_group %></td>
          </tr>
          <tr>
            <td>Occupation:</td>
            <td><%= @member.occupation %></td>
          </tr>
          <tr>
            <td>Family memebers:</td>
            <td><%= @member.family_memebers %></td>
          </tr>
          <tr>
            <td>Adult:</td>
            <td><%= @member.adult %></td>
          </tr>
          <tr>
            <td>Kids:</td>
            <td><%= @member.kids %></td>
          </tr>
          <tr>
            <td>Bio:</td>
            <td><%= @member.bio %></td>
          </tr>
          <tr>
            <td>Roles:</td>
            <td><%= @member.roles.collect{|m| m.name.camelize}.join(', ') %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <div class="btn-group">
        <%= link_to 'Back', members_path, class: 'btn btn-success' %>

        <% if user_is_president%>
          <%= link_to 'Edit', edit_member_path(@member), class: 'btn btn-success' %>
          <%= link_to 'Destroy', member_path(@member), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-success' %>
        <% end %>

      </div>
      <div class="pull-right">
        <% if current_tenant.user_setting.voting_visible %>
          <div id="mark-as-pres-<%=@member.id%>" class="pull-right">
            <%=render partial: 'members/partials/select_candidate', locals: { member: @member}, class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</section>