<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    User Profile
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">User profile</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-3">

      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive img-circle" src="<%= current_user.avatar.url %>" alt="User profile picture">

          <h3 class="profile-username text-center"><%= current_user.name %></h3>

          <p class="text-muted text-center"><%= current_user.occupation %>r</p>

<!--           <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Followers</b> <a class="pull-right">1,322</a>
            </li>
            <li class="list-group-item">
              <b>Following</b> <a class="pull-right">543</a>
            </li>
            <li class="list-group-item">
              <b>Friends</b> <a class="pull-right">13,287</a>
            </li>
          </ul> -->

          <!-- <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> -->
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

      <!-- About Me Box -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">About Me</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <strong><i class="fa fa-book margin-r-5"></i> Bio</strong>

          <p class="text-muted">
            <%= current_user.bio %>
          </p>

          <hr>

          <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

          <p class="text-muted">Flat No. <%= current_user.flat_no %>, Tower No. <%= current_user.tower_no %></p>

<!--           <hr>

          <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

          <p>
            <span class="label label-danger">UI Design</span>
            <span class="label label-success">Coding</span>
            <span class="label label-info">Javascript</span>
            <span class="label label-warning">PHP</span>
            <span class="label label-primary">Node.js</span>
          </p>

          <hr>

          <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p> -->
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>
          <li><a href="#timeline" data-toggle="tab">Timeline</a></li>
          <li><a href="#settings" data-toggle="tab">Settings</a></li>
        </ul>
        <div class="tab-content">
          <div class="active tab-pane" id="activity">
            <div class="box box-primary">
              <div class="box-body">
                <%= render 'posts/form' %>
              </div>
            </div>
            <!-- Post -->
            <div class="posts-index">
              <%= render partial:'posts/post', collection: @posts, as: :post  %>
            </div>
            <!-- /.post -->
          </div>
          <!-- /.tab-pane -->
          <div class="tab-pane" id="timeline">
            <ul class="timeline timeline-inverse">
              <li class="time-label">
                    <!-- <span class="bg-red"> -->
                      <!-- 10 Feb. 2014 -->
                    <!-- </span> -->
              </li>
                  <%= render_activities(@activities) %>
              <li>
                <i class="fa fa-clock-o bg-gray"></i>
              </li>
            </ul>
          </div>
          <!-- /.tab-pane -->

          <div class="tab-pane" id="settings">
            <%= form_for @member, as: :member, class: 'form-horizontal', url: member_path(@member) do |f| %>
              <div class="box-body">
                <% if @member.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

                    <ul>
                    <% @member.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
                <div class="form-group">
                  Select Role:
                  <%= select_tag 'roles', options_for_select(User.profile_roles.map { |obj| [obj[0].camelize, obj[0]] }, @member.roles.map(&:name)), multiple: true, required: true %>
                </div>
                <div class="form-group">
                  <%= f.label :name %><br>
                  <%= f.text_field :name, class: 'form-control', required: true %>
                </div>
                <div class="form-group">
                  <%= f.label :flat_no %><br>
                  <%= f.text_field :flat_no, class: 'form-control', required: true %>
                </div>
                <div class="form-group">
                  <%= f.label :tower_no %><br>
                  <%= f.text_field :tower_no, class: 'form-control', required: true %>
                </div>
                <div class="form-group">
                  <%= f.label :mob_num %><br>
                  <%= f.text_field :mob_num, class: 'form-control', required: true %>
                </div>
                <div class="form-group">
                  <%= f.label :email %><br>
                  <%= f.text_field :email, class: 'form-control', required: true  %>
                </div>
                <div class="form-group">
                  <%= f.label :alt_no %><br>
                  <%= f.text_field :alt_no, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label :blood_group %><br>
                  <%= f.text_field :blood_group, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label :occupation %><br>
                  <%= f.text_field :occupation, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label :family_memebers %><br>
                  <%= f.number_field :family_memebers, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label :adult %><br>
                  <%= f.number_field :adult, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label :kids %><br>
                  <%= f.number_field :kids, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label :bio %><br>
                  <%= f.text_area :bio, class: 'form-control' %>
                </div>
              </div>
              <div class="box-footer">
                <%= f.submit %>
              </div>
            <% end %>

          </div>
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
      <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

</section>
