<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    User Profile
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">User profile</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <%= render 'members/partials/user_details' %>

    <div class="col-md-9">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="/members/<%= current_user.id%>/user_profile">Activity</a></li>
          <li><a href="/members/timeline">Timeline</a></li>
          <li><a href="/members/<%= current_user.id %>/profile_update">Settings</a></li>
        </ul>
        <div class="tab-content-bg">
          <div class="active tab-pane" id="activity">
            <div class="box box-primary">
              <div class="box-body">
                <%= render 'posts/form' %>
              </div>
            </div>
            <!-- Post -->
            <div class="posts-index">
              <%= render partial:'posts/post', collection: @posts, as: :post  %>
            </div>
            <div id="infinite-scrolling">
              <%= will_paginate @posts %>
            </div>
            <!-- /.post -->
          </div>
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
      <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

</section>
