<%= simple_form_for(@policy) do |f| %>
  <div class="box-body">
    <%= f.error_notification %>
    <%= f.input :name %>
    <%= f.input :file %>
    <%= f.input :body %>
  </div>
  <div class="box-footer">
    <%= f.button :submit %>
  </div>
<% end %>
