<h1>Listing Policies</h1>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Body</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @policies.each do |policy| %>
        <tr>
          <td><%= truncate_text(policy.name, 30) %><span class="new-tag"><%= "   New" if (@unread_policy_ids).include?(policy.id)%></span></td>
          <td><%= truncate_text(policy.body, 50) %></td>
          <td>
            <% if policy.file.url%>
          <!-- download_policy_path(policy.id) -->
              <%= link_to 'Download', policy.file.url %>
            <% end %>
          </td>
          <td><%= link_to 'Show', policy %></td>
          <td><%= link_to 'Edit', edit_policy_path(policy) %></td>
          <td><%= link_to 'Destroy', policy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Policy', new_policy_path if user_is_president%>
